/*
 * fbcolors.css
 */

//
// Fretboard Colors Panel
//
.clrheader                      { grid-area: header;} 
.clrtransparentbackground       { grid-area transparentbackground; }
.clrtransparentbackground>input { grid-area transparentbackground; 
                                  margin-top: 0px;
                                  margin-bottom: 0px; }
.clrtargetsheader               { grid-area: targetsheader; }
.clrtargets                     { grid-area: targets; }
.clrfree                        { grid-area: free; }

.fbcolors-targets-grid {
  display: grid;
  grid-template-columns: 200px 100px 200px;
  border-radius: 8px;
  gap: 10px;
  padding: 1px;
}
.fbcolors-targets-grid-col-name {
}
.fbcolors-targets-grid-col-color-box {
}
.fbcolors-targets-grid-col-color-box>button {
    width: 20px;
    height: 20px;
}
.fbcolors-targets-grid-col-color-hex {
}

.fbcolors-targets-grid-col-color-hex>input {
  font-size: 14px;
  font-family: monospace, Consolar, DejaVu Sans Mono, Lucida Console, Courier;
}


.fbcolors-grid-container {
  display: grid;
  grid-template-areas:
    'header   transparentbackground '
    'targets targets'
    ;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  border-color: black;
  border: solid;
  border-width: 1px;
  background-color: #eacfb9;
}
/*LeCorbusierQuickColor['sandyOrange'] = '#eacfb9' */
/* background-color: pink; */
.fbcolors-grid-container > div {
  text-align: left;
  padding: 24 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
