/* Diagram */

g.note.transparent:hover {
    opacity: 1;
}

g.note {
    fill: white;
    stroke-width: 1px;
    stroke: black;
}

g.note.selected>circle {
    opacity: 1;
    stroke-dasharray: 4, 4;
    stroke-width: 3px;
    stroke: black;
}
g.note.selected>rect {
    opacity: 1;
    stroke-dasharray: 4, 4;
    stroke-width: 3px;
    stroke: black;
}
g.note.selected>polygon {
    opacity: 1;
    stroke-dasharray: 4, 4;
    stroke-width: 3px;
    stroke: black;
}

g.note.hidden {
    opacity: 0;
}

g.note.transparent {
    opacity: 0.3;
}

g.note.visible {
    opacity: 1;
    fill: white;
}

g.note.highlight {
    opacity: 1;
    stroke-width: 5px;
    stroke: orange;
    fill: yellow;
}

g.note.blue {
    fill: steelblue;
}

g.note.blue>text {
    stroke: white;
    fill: white;
}

g.note.black {
    fill: black;
}


g.note.black>text {
    stroke: white;
    fill: white;
}

g.note.red {
    fill: indianred;
}

g.note.red>text {
    stroke: white;
    fill: white;
}

g.note.green {
    fill: teal;
}

g.note.green>text {
    stroke: white;
    fill: white;
}

path.string {
    stroke: black;
    fill: none;
}

path.frets {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

path.fretboard-nut {
    stroke: black;
    stroke-width: 7px;
    stroke-linecap: square;
    fill: none;
}

g.note>text {
    stroke: black;
    stroke-width: 0px;
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 16px;
    font-family: helvetica_neuelight, Arial, Helvetica, sans-serif;
}

#editable-div {
    text-align: center;
    font-size: 18px;
}

#fretboard-diagram-creator {
    padding-top: 10px;
    /* border: 1px solid; */
}


div.menu {
    width:100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* stroke: mistyrose; */
path.linear-inlay-marker {
    stroke: cadetblue;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7;
}

text.fret-marker {
    text-anchor: middle;
    font-size: 16px;
    font-style: italic;
    fill: black;
    font-family: helvetica_neuelight_italic, Arial, Helvetica, sans-serif;
}
text.small-fret-marker {
    text-anchor: middle;
    font-size: 13px;
    font-style: italic;
    fill: darkgray;
    font-family: helvetica_neuelight_italic, Arial, Helvetica, sans-serif;
}

/* Controls */
/* Actions on nodes */

#shape-selector {
    /* background-color: lightgray; */
    margin: auto;
    padding-bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#color-selector {
    /* background-color: lightgray; */
    margin: auto;
    padding-bottom: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

button {
    height: 28px;
}

button.color {
    width: 44px;
}

button.color:hover {
    transform: scale(1.1);
}
button.sym-button:hover {
    transform: scale(1.1);
}

.color.blue {
    background-color: steelblue;
}

.color.black {
    background-color: black;
}

.color.green {
    background-color: teal;
}

.color.red {
    background-color: indianred;
}

.color.white {
    background-color: white;
}

/* Global actions */

#global-actions {
    margin: auto;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

#fretboard-cfg {
    margin: auto;
    width: 380px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


@supports (width: 100vw) {
    figure.half-full {
        max-width: 100vw;
        width: 1200px;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -600px;
        margin-right: -600px;
    }
    @media only screen and (max-width: 1200px) {
        figure.half-full {
            max-width: 100vw;
            width: 1000px;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -500px;
            margin-right: -500px;
            overflow-y: auto;
        }
    }
    @media only screen and (max-width: 1000px) {
        figure.half-full {
            max-width: 100vw;
            width: 100%;
            left: 0;
            right: 0;
            margin: 0;
            overflow-y: auto;
        }
    }
}

.sym-button {
    font-size: 16px;
    height: 28px;
}

.num-input {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    text-anchor: middle;
}

.error {
    font-size: 18px;
    text-anchor: middle;
}
